* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

*:focus {
    outline: 1px dotted #145803;
    outline-offset: 3px;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    max-width: 800px;
    text-align: right;
    display: none;
}

.wrapper div {
    border: 1px solid green;
    padding: 15px;
    border-radius: 5px;
}

.motiv {
    width: 500px;
    min-height: 150px;
    border: none;
    border: 1px dotted green;
    padding: 10px 15px;
    outline: none;
    border-radius: 5px;
    font-size: 2.5rem;
    text-align: justify;
}


.btn {
    margin: 10px 0;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(3, 165, 3);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.6;
}

.auf {
    font-size: 16px;
    letter-spacing: 2px;
    opacity: 0;
}


/* Loader */
.loader {
    width: 16em;
    height: 8em;
    position: relative;
    overflow: hidden;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    bottom: 0;
}

.loader::before {
    width: inherit;
    height: 0.2em;
    background-color: hsla(0, 0%, 85%);
}

.loader::after {
    box-sizing: border-box;
    width: 50%;
    height: inherit;
    border: 0.2em solid hsla(0, 0%, 85%);
    border-radius: 50%;
    left: 25%;
}

.loader span {
    position: absolute;
    width: 5%;
    height: 10%;
    background-color: white;
    border-radius: 50%;
    bottom: 0.2em;
    left: -5%;
    animation: 2s linear infinite;
    transform-origin: 50% -3em;
    animation-name: run, rotating;
    background-color: teal;
}

.loader span:nth-child(2) {animation-delay: 0.075s;}
.loader span:nth-child(3) {animation-delay: 0.15s;}

@keyframes run {
    0% {left: -5%;}
    10%, 60% {left: calc((100% - 5%) / 2);}
    70%, 100% {left: 100%;}
}

@keyframes rotating {
    0%, 10% {transform: rotate(0deg);}
    60%, 100% {transform: rotate(-1turn);}
}
/* /Loader */